div{
    resize:none; /* faz com que o textarea não seja redimensionável */
    /* centraliza o textarea */
    display: block;
    margin-left: auto;
    margin-right: auto; 
    height: 1000px;
    width: 800px; 
}